<div id="task_detail_container" class="j_slide_layer" ng-controller="TaskDetailController">
  <div id="task_detail">

    <!-- 头部区 -->
    <div class="head_chunk">
      {{task.createdAt}}<span>由{{task.assigner.name}}创建</span>
      <!-- <img class="icon_close" src="img/icon_close.png"> -->
    </div>
    <div class="title">
      <div class="uncomplete" ng-if="task.status==1" ng-click="task.status=2;updateTask({'status': 2})"></div>
      <div class="completed" ng-if="task.status==2" ng-click="task.status=1;updateTask({'status': 1})"></div>
      <input type="text" class="taskNameInput" ng-class="{'complete': task.status==2}" placeholder="请输入任务名称" ng-model="task.title" ng-keydown="alterTitle($event)"/>
    </div>

    <!-- 内容区 -->
    <ul class="content">
      <!-- 项目 -->
      <li class="project_container">
        <div class="project toggle_child">
          <span class="project_color" ng-style="{'background': task.project.color.replace('#99','#')}"></span>
          <!-- <span class="project_name"></span> -->
          {{task.project.name}}
          <ul class="project_list">
            <li class="project" ng-repeat="project in companyInfo.projects track by $index" ng-click="task.project = project;updateTask({'project': project})">
              <span class="project_color" ng-style="{'background': project.color.replace('#99','#')}"></span>
              {{project.name}}
            </li>
          </ul>
        </div>
      </li>
      <!-- 责任人 -->
      <li class="assignee_container">
        <div class="assignee toggle_child">
          <img ng-src="{{task.assignee.avatar.url|addHost}}">
          {{task.assignee.name}}
          <ul class="assignee_list">
            <li ng-repeat="team in companyInfo.teams">
              ------ {{team.name}} ------
              <ul>
                <li class="assignee" ng-repeat="member in team.members"  ng-click="task.assignee=member;updateTask({'team':team.objectId,'assignee':member.objectId})">
                  <img ng-src="{{member.avatar.url|addHost}}">
                  {{member.name}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <!-- 到期时间 -->
      <li class="deadline_container">
        <div class="deadline toggle_child">
          {{task.deadlineFormat}}
          <ul class="deadline_list">
            <li class="deadline" ng-repeat="date in dateList" ng-click="task.deadlineFormat=date.deadlineFormat;updateTask({'deadline': date.deadline,'status': date.deadline ? 1 : 0})">
              {{date.deadlineFormat}}
            </li>
          </ul>
        </div>
      </li>
      <!-- 优先级 -->
      <li class="priority_container">
        <div class="priority toggle_child">
          <img ng-src="img/icon_priority{{task.priority}}.png">
          {{priorityList[task.priority]}}
          <ul class="priority_list">
            <li class="priority" ng-repeat="priority in priorityList" ng-click="task.priority = $index;updateTask({'priority': $index})">
              <img ng-src="img/icon_priority{{$index}}.png">
              {{priority}}
            </li>
          </ul>
        </div>
      </li>

      <!-- 附件 -->
      <li class="file_container" ng-if="task.file.url">
        <a ng-href="{{task.file.url|addHost}}" target="_blank">
          <img ng-src="{{task.file.url|addHost}}">
        </a>
        
      </li>

      <!-- 子任务 -->
      <li class="checklist_container">
        <ul>
          <li ng-repeat="check in task.checklist track by $index">
            <img class="checkbox" ng-src="img/icon_completed.png" ng-show="check.complete == '2'" ng-click="task.checklist[$index].complete='1';updateTask({'checklist': task.checklist})">
            <img class="checkbox" ng-src="img/icon_complete.png" ng-show="check.complete == '1'" ng-click="task.checklist[$index].complete='2';updateTask({'checklist': task.checklist})">
            <span class="{'complete':check.complete=='2','uncomplete':check.complete == '1'}">{{check.item}}</span>
            <img class="close" src="img/icon_close.png" ng-click="task.checklist.splice($index,1);updateTask({'checklist': task.checklist})"><!-- todo:不传String也不报错？ -->
          </li>
          <li>
            <input type="text" placeholder="添加子任务" ng-model="task.newCheck" ng-keydown="addCheck($event)"/>
          </li>
        </ul>
      </li>
      <!-- 评论 -->
      <li class="comments">
        <ul>
          <li ng-repeat="comment in task.comments">
            <div class="comment_user">
              <img ng-src="{{comment.userUrl}}">
              <span class="comment_name">{{comment.userName}}</span>
              <span class="comment_createdAt">{{comment.sendTimg|date:'MM/dd HH:mm'}}</span>
            </div>
            <div class="comment_content">
              {{comment.userMsg}}
            </div>
          </li>
          <li>
            <div class="add_comment">
              <input type="text" placeholder="添加评论" ng-model="task.newComment" ng-keydown="addComment($event)" />
            </div>
          </li>
        </ul>
      </li>
      <!-- 底部操作区 -->
    <div class="foot_chunk">
      <span ng-if="task.status == 1" ng-click="updateTask({'status': 3})">搁置任务</span>
      <span ng-if="task.status == 3" ng-click="updateTask({'status': 1})">重启任务</span>
      <span ng-if="userInfo.objectId==task.assignee.objectId||userInfo.objectId==task.assigner.objectId||userInfo.objectId==task.team.leader.objectId" ng-click="updateTask({'status': 4})">删除任务</span>
    </div>
    </ul>

    
  </div>
  <div class="floating_panel_close">
    <i class="icon_close">X</i>
  </div>
</div>