<div id="task_detail_container" ng-controller="TaskDetailController">
  <!-- 头部区 -->
  <div class="head_chunk">
    2016年02月01日<span>由肖一江创建</span><img src="img/icon_close.png">
  </div>
  <div class="title">
      <input type="text" placeholder="请输入任务名称" ng-model="task.title" />
  </div>
  <!-- 内容区 -->
  <ul class="content">
    <!-- 项目 -->
    <li>
      <div class="project">
        {{task.project.name}}
      </div>
    </li>
    <!-- 责任人 -->
    <li>
      <div class="assignee">
        {{task.assignee.name}}
      </div>
    </li>
    <!-- 到期时间 -->
    <li>
      <!-- <p>{{task.deadline.iso}}</p> -->
      <select class="priorityValue" ng-model="task.deadline.iso">
        <option ng-repeat="date in dateList" value="{{date}}">{{date}}</option>
      </select>
    </li>
    <!-- 优先级 -->
    <li class="priority">
      <!-- <span>{{task.priority}}</span> -->
      <select class="priorityValue" ng-model="task.priority.toString()">
        <option value="0">不紧急</option>
        <option value="1">一般紧急</option>
        <option value="2">紧急</option>
        <option value="3">非常紧急</option>
      </select>
    </li>
    <!-- 子任务 -->
    <li>
      <ul>
        <li>
          患者管理页面修改<img src="img/icon_close.png">
        </li>
        <li>
          患者管理页面修改<img src="img/icon_close.png">
        </li>
        <li>
          患者管理页面修改<img src="img/icon_close.png">
        </li>
        <li>
          添加子任务
        </li>
      </ul>
    </li>
    <!-- 评论 -->
    <li>
      <ul>
        <li>
          <div class="comment_user">
            张士超 <span>2小时前</span>
          </div>
          <div class="comment_content">
            这个页面尽可能设计的简洁点
          </div>
        </li>
        <li>
          <div class="comment_user">
            张士超 <span>2小时前</span>
          </div>
          <div class="comment_content">
            这个页面尽可能设计的简洁点
          </div>
        </li>
        <li>
          <div class="add_comment">
            添加评论
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="foot_chunk">
    删除改任务
  </div>
  <div class="floating_panel_close">
    <i class="icon_close">X</i>
  </div>
</div>