<div class="createTask j_slide_layer" ng-controller="CreatTaskController">
  <div class="mask">
    <div class="container">

      <!-- 任务名 -->
      <p>
        <span id="time">{{task.createdAt}}</span>
        <span class="assigner">由{{userInfo.name}}创建</span>
      </p>
      <p class="taskName">
        <input id="taskName" type="text" focus placeholder="请输入工作名称" ng-model="task.title" />
      </p>

      <!-- 选项 -->
      <ul class="opt">

        <!-- 选择项目 -->
        <li class="projectName toggle_child">
          <span class="color"></span>
          <span class="name">{{task.project.name}}</span>
          <ul class="projectList j_silde_list">
            <li ng-repeat="project in companyInfo.projects" ng-click="task.project = project">
              {{project.name}}
            </li>
          </ul>
        </li>

        <!-- 选择截止时间 -->
        <li class="deadline toggle_child">
          <span class="name">{{task.deadlineFormat}}</span>
          <ul class="dateList">
            <li ng-repeat="date in dateList" ng-click="task.deadlineFormat = date.deadlineFormat; task.deadline=date.deadline">
              {{date.deadlineFormat}}
            </li>
          </ul>
        </li>



        <!-- 选择责任人 -->
        <li class="assigneeName toggle_child">
          <span class="thumb"><img ng-src="{{task.assigneeAvatar}}"/></span>
          <span class="memberName">{{task.assigneeName}}</span>
          <ul class="assigneeList">
            <li ng-repeat="team in companyInfo.teams">
              ------ {{team.name}} ------
              <ul>
                <li ng-repeat="member in team.members" ng-click="task.assigneeName = member.name; task.assignee = member.objectId; task.team = team.objectId; task.assigneeAvatar = filter('addHost')(member.avatar.url)">
                  <span class="thumb"><img ng-src="{{member.avatar.url|addHost}}"/></span>
                  <span class="memberName">{{member.name}}</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      <!-- 选择工作量 -->
        <li class="costHours toggle_child">
          <span class="name">{{task.costHoursFormat}}</span>
          <ul class="costHoursList">
            <li ng-repeat="(key, value) in costHoursObject" ng-click="task.costHours = key; task.costHoursFormat = value">
              {{value}}
            </li>
          </ul>
        </li>

        <!-- 上传文件 -->
        <li class="file">
          <input type="file" id="fileInput" onchange="angular.element(this).scope().upload(this)"/>
          <span class="button" ng-show="!task.fileUrl" onclick="document.getElementById('fileInput').click()" >上传图片</span>
          <img id="fileImage" ng-show="task.fileUrl" ng-src="{{task.fileUrl}}" onclick="document.getElementById('fileInput').click()">
        </li>

        <!-- 选择优先级 -->
        <li class="priority" style="visibility: hidden">
          优先级：
          <select class="priorityValue" ng-model="task.priority">
            <option value="0" ng-selected>一般</option>
            <option value="1">重要</option>
            <option value="2">紧急</option>
            <option value="3">重要且紧急</option>
          </select>
        </li>

      </ul>

      <!-- 提交 -->
      <p class="submit">
        <span class="button" ng-click="createTask()">发布任务</span>
      </p>
      <span class="close">
      </span>
    </div>
  </div>
</div>