<div class="right">

  <!--右上部-->
  <div class="right_top">

    <!--header-->
    <div class="head">

      <!--创建任务按钮-->
      <div class="add_task">
        新建一个工作
      </div>

      <!--提醒按钮-->
      <div class="icon_notification" ng-click="findNotification()">
        <span class="badge" ng-show="showNotificationNumber">{{unreadNotificationNumber}}</span>
      </div>
      <div class="notification_container j_slide_layer">
        <div class="title_container">
          <span class='title'>通知</span>
          <span class="read_all" ng-show="showNotificationNumber" ng-click="readAllNotification()">标记全部已读</span>
          <span class="close"></span>
        </div>
        <ul>
          <li ng-class="{'is_read': notification.isRead}" ng-repeat="notification in notifications"
              ng-click="clickNotification({'subject': 'assignee','objectId':notification.assigneeId,'taskId':notification.taskId, 'notificationId': notification.objectId, 'status': notification.taskStatus})">
            <img ng-src="{{notification.updaterAvatar}}">

            <div class="message">
              {{notification.message}}
            </div>
          </li>
        </ul>
      </div>

      <!--头像-->
      <img class="thumb" ng-src="{{userInfo.avatar.url|addHost}}" ng-click="logout()">

    </div>

    <!--nav-->
    <ul class="menu">
      <li ng-class="{'active': currentParams.status == 0}" ng-click="filterTaskList(0,$event)">
        待办
        <span class="number">{{length[0]}}</span>
      </li>
      <li id="default" ng-class="{'active': currentParams.status == 1}" ng-click="filterTaskList(1,$event)">
        进行
        <span class="number">{{length[1]}}</span>
      </li>
      <li ng-class="{'active': currentParams.status == 2}" ng-click="filterTaskList(2,$event)">
        完成
        <span class="number">{{length[2]}}</span>
      </li>
      <li ng-class="{'active': currentParams.status == 3}" ng-click="filterTaskList(3,$event)">
        搁置
        <span class="number">{{length[3]}}</span>
      </li>
      <!--工作量统计-->
      <div class="count">
        <span>工作量: <i>{{countObj.costHoursThisMonth}}h</i></span>
        <span>逾期: <b ng-class="{red: countObj.delayNum}">{{countObj.delayNum}}</b></span>
        <span>五星: <i>{{countObj.fiveStar}}</i></span>
        <span>饱和度: <i>{{totalCostHoursThisWeek/40*100| number:1}}%</i></span>

      </div>
    </ul>
  </div>


  <!--主要内容展示区域-->
  <div class="main">
    <div class="taskList">
      <ul class="dates" ng-repeat="x in taskList">
        <p class="date">
          <span class="days" ng-class="{'past': x.delay}">{{x.groupName}}</span>
          <span class="date">{{x.subGroupName}}</span>
        </p>
        <li ng-repeat="d in x.tasks track by $index" ng-click="showTaskDetail(d)"
            ng-class="{'choose': d.objectId === currentTaskDetailId}">
          <!-- 主任务 -->
          <div class="task">

            <!--任务名与状态-->
            <div class="avator">
              <div class="thumb" ng-if="myself&&doing"
                   ng-click="updateTask({'objectId': d.objectId, 'status': 2});$event.stopPropagation()"><img
                  ng-src="img/icon_complete.png"/></div>
              <div class="thumb" ng-if="myself&&done"
                   ng-click="updateTask({'objectId': d.objectId, 'status': 1});$event.stopPropagation()"><img
                  ng-src="img/icon_completed.png"/></div>
              <div class="thumb" ng-if="!myself"><img ng-src="{{d.assignee.avatar.url|addHost}}"
                                                      ng-click="getTaskList({'subject':'assignee','objectId':d.assignee.objectId,'status':1});$event.stopPropagation()"/>
              </div>
              <span ng-style="{'background': 'url(img/icon_priority{{d.priority}}.png) no-repeat center center'}"
                    class="priority"></span>
              <span class="taskName" ng-class="{'past': x.delay, 'finished': d.status==2}">{{d.title}}</span>
              <span class="project"
                    ng-style="{'background': d.project.color.replace('#99','#')}">{{d.project.name}}</span>
              <span class="costHours">{{d.costHours}}h</span>

              <!--任务进度-->
              <!--<div class="progress_container toggle_child" ng-click="showProgressList($event)" ng-if="doing">-->
                <!--<div class="progress" ng-style="{'border-color': progressList[d.progress||0].style}"></div><span class="percent">{{progressList[d.progress||0].percent}}</span>-->
                <!--<ul class="progress_list" style="float:right">-->
                  <!--<li class="progress_container" ng-repeat="progress in progressList track by $index" ng-click="d.progress=$index;updateTask({'objectId':d.objectId,'progress': $index});hideProgressList($event);$event.stopPropagation()">-->
                    <!--<div class="progress" ng-style="{'border-color': progress.style}"></div><span class="percent">{{progress.percent}}</span>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            </div>

            <!--其他操作-->
            <div class="other">

              <!--关注-->
              <span ng-class="{'tofollow': !d.followed, 'followed': d.followed}"
                    ng-click="updateTask({'objectId': d.objectId, follower: {'action': d.followed?'Remove':'AddUnique' ,'userId': userInfo.objectId}});$event.stopPropagation()"
                    ng-if="!myself&&doing&&userInfo.objectId!==d.assigner.objectId&&userInfo.objectId!==d.team.leader.objectId"></span>

              <!--领导评价-->
                <span class="value" ng-if="done" ng-show="userInfo.objectId==d.team.leader.objectId||userInfo.objectId==d.assignee.objectId||userInfo.objectId==companyInfo.boss.objectId"
                      ng-click="showValueModal($event, d)"
                      ng-class="{'good-value': d.value >3, 'bad-value': d.value<3}"
                ></span>

              <!--点赞-->
              <span ng-class="{'tolike': !d.liked, 'liked': d.liked}"
                    ng-click="updateTask({'objectId': d.objectId, liker: {'action': d.liked?'Remove':'AddUnique' ,'userId': userInfo.objectId}});$event.stopPropagation()"
                    ng-if="!myself&&done"></span>

              <!--评论数-->
              <span class="comment">{{d.comments.length}}</span>
            </div>
          </div>

          <!-- 子任务 -->
          <ul class="checklist">
            <li ng-repeat="check in d.checklist">
              <img class="checkbox" ng-src="img/icon_completed.png" ng-show="check.complete == '2'"
                   ng-click="d.checklist[$index].complete='1';updateTask({'objectId': d.objectId,'checklist': d.checklist});$event.stopPropagation()">
              <img class="checkbox" ng-src="img/icon_complete.png" ng-show="check.complete == '1'"
                   ng-click="d.checklist[$index].complete='2';updateTask({'objectId': d.objectId,'checklist': d.checklist});$event.stopPropagation()">
              <span
                  ng-class="{'complete': check.complete == '2', 'uncomplete': check.complete == '1'}">{{check.item}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--评价弹层-->
<div class="valueModal j_slide_layer">
  <div class="mask">
    <div class="container">

      <h3>主管评价</h3>
      <!--如果是上级-->
      <ul ng-if="userInfo.objectId==valueTask.team.leader.objectId&&userInfo.objectId!=valueTask.assignee.objectId||userInfo.objectId==companyInfo.boss.objectId">
        <li>
          <img ng-src="{{valueCache>0 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}"
               ng-mouseenter="valueCache=1"
               ng-mouseleave="valueCache=valueTask.value"
               ng-click="valueTask.value=1;valueCache=1"
          >
          <img ng-src="{{valueCache>1 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}"
               ng-mouseover="valueCache=2"
               ng-mouseleave="valueCache=valueTask.value"
               ng-click="valueTask.value=2;valueCache=2"
          >
          <img ng-src="{{valueCache>2 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}"
               ng-mouseover="valueCache=3"
               ng-mouseleave="valueCache=valueTask.value"
               ng-click="valueTask.value=3;valueCache=3"
          >
          <img ng-src="{{valueCache>3 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}"
               ng-mouseover="valueCache=4"
               ng-mouseleave="valueCache=valueTask.value"
               ng-click="valueTask.value=4;valueCache=4"
          >
          <img ng-src="{{valueCache>4 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}"
               ng-mouseover="valueCache=5"
               ng-mouseleave="valueCache=valueTask.value"
               ng-click="valueTask.value=5;valueCache=5"
          >
        </li>
        <li>
          <textarea placeholder="非3星请填写评价理由" cols="32" rows="8" ng-model="valueTask.valueReason"></textarea>
        </li>
      </ul>
      <p class="submit" ng-if="userInfo.objectId==valueTask.team.leader.objectId&&userInfo.objectId!=valueTask.assignee.objectId||userInfo.objectId==companyInfo.boss.objectId">
        <span class="button" ng-click="doValue({objectId: valueTask.objectId, value: valueTask.value, valueReason: valueTask.valueReason})" >提交</span>
      </p>
      <!--如果是自己-->
      <ul ng-if="userInfo.objectId === valueTask.assignee.objectId && userInfo.objectId !== companyInfo.boss.objectId">
        <li>
          <img ng-src="{{valueCache>0 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}">
          <img ng-src="{{valueCache>1 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}">
          <img ng-src="{{valueCache>2 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}">
          <img ng-src="{{valueCache>3 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}">
          <img ng-src="{{valueCache>4 ? 'img/icon_star_choosen.png':'img/icon_star.png'}}">
        </li>
        <li>
          <textarea disabled placeholder="非3星请填写评价理由" cols="32" rows="8" ng-model="valueTask.valueReason"></textarea>
        </li>
      </ul>
      <span class="close">
      </span>
    </div>
  </div>
</div>
