.createTask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1001;
  .mask {
    height: 100%;
    padding-top: 100px;
    background: rgba(0, 0, 0, .3);
    .container {
      position: relative;
      width: 600px;
      min-height: 300px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 10px;
      background: white;
      box-shadow: rgba(0, 0, 0, .5);

      // 输入任务名
      > p {
        color: #ccc
      }
      .taskName {
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
        input {
          font-size: 24px;
          width: 100%;
          height: 50px;
          margin: 20px auto;
          color: #666;
          border: none;
          outline: none;
        }
      }

      // 选项
      .opt {
        overflow: hidden;
        min-height: 250px;
        > li {
          float: left;
          width: 250px;
          height: 30px;
          margin: 15px 0;
          padding-left: 45px;
          background-position: center center;
          .priorityValue {
            font-size: 14px;
          }
        }

        // 选择项目名
        .projectName {
          position: relative;
          cursor: pointer;
          .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background: #9c3;
          }
          > ul {
            // position: absolute;
            top: 30px;
            left: 45px;
            display: none;
            overflow: auto;
            height: 150px;
            padding-bottom: 10px;
            border: 1px solid #2196f3;
            background: white;
          }
        }

        // 选择截止时间
        .deadline {
          position: relative;
          cursor: pointer;
          input {
            cursor: pointer;
            border: none;
            outline: none;
          }
          > ul {
            // position: absolute;
            top: 30px;
            left: 45px;
            display: none;
            overflow: auto;
            height: 150px;
            padding-bottom: 10px;
            border: 1px solid #2196f3;
            background: white;

          }
        }

        // 选择责任人
        .assigneeName {
          display: inline-block;
          cursor: pointer;
          .thumb {
            img {
              cursor: pointer;
              height: 24px;
              width: 24px;
              border-radius: 50%
            }
          }
          .memberName {
            cursor: pointer;
            line-height: 24px;
            height: 24px;
          }
          > ul {
            // position: absolute;
            top: 30px;
            left: 45px;
            display: none;
            overflow: auto;
            height: 130px;
            padding-bottom: 10px;
            border: 1px solid #2196f3;
            background: white;
          }
        }
        // .priority {
        //   position: relative;
        //   cursor: pointer;
        //   > ul {
        //     // position: absolute;
        //     top: 30px;
        //     left: 45px;
        //     display: none;
        //     overflow: auto;
        //     height: 150px;
        //     padding-bottom: 10px;
        //     border: 1px solid #2196f3;
        //     background: white;

        //   }
        // }
        >:first-child {
          background: url(img/icon_project.png) no-repeat;
        }
        >:nth-child(2) {
          background: url(img/icon_date.png) no-repeat;
        }
        >:nth-child(3) {
          background: url(img/icon_assign.png) no-repeat;
        }
        >:nth-child(4) {
          background: url(img/icon_priority.png) no-repeat;
        }
        >:nth-child(5) {
          background: url(img/icon_subtask.png) no-repeat;
        }
      }

      // 提交
      .submit {
        position: absolute;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
        .button {
          display: inline-block;
          padding: 3px 10px;
          color: white;
          border-radius: 5px;
          background: $blue_color;
        }
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 50%;
        background: #aaa url(img/icon_close.png) no-repeat;
        background-position: center center;
        background-size: 100% 100%;
      }
    }
  }
}