#login_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f2fafe;

  // 左上角图片
  .img_left_top,
  .img_right_bottom {
    width: 20%;
  }

  // 中间内容区
  .box {
    width: 30%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -15%;
    .img_title_style {
      top: 0px;
      width: 60%;
      padding-bottom: 30px;
      margin: 0 auto;
      text-align: center;
      img {
        width: 90%;
        margin: 0 auto;
      }
    }
    .content {
      width: 100%;
      height: 300px;
      background-color: #FFF;
    }
    .title {
      font-size: 22px;
      height: 64px;
      width: 100%;
      line-height: 64px;
    }
    .input {
      margin: 10px 0px;
      font-size: 18px;
      color: #666;
    }
    .input,
    .button,
    {
      width: 77%;
      height: 42px;
    }
    .button {
      margin: 0 auto;
      border: 0;
      background-color: #2196F3;
      color: white;
      line-height: 42px;
      font-size: 18px;
      cursor: pointer;
      padding: 0px 1px;
    }
    .title,
    .button {
      text-align: center;
    }
  }

  // 右下角图片
  .img_right_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
