.task_container {
  position:absolute; 
  height:100%;
  width: 100%;
  left:0; 
  top:0;
  background: $main_bk;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 250px;
    height: 100%;
    // margin-bottom: 90px;
    color: white;
    background: $grey_color;
    .company {
      position: fixed;
      width: 250px;
      font-size: 22px;
      padding: 25px 0;
      text-align: center;
      background: $blue_color;
      z-index: 1000;
    }
    .left_container {
      overflow: auto;
      margin-top: 90px;
      // margin-bottom: 90px;
      width: 267px;
      height: 85%; //否则下面一截显示不出来, todo:left_container外面再套个div应该可以解决
      cursor: pointer;
      .mySummary {
        li {
          position: relative;
          padding: 15px 0 15px 30px;
          .label {
            line-height: 30px;
            display: inline-block;
            width: 100px;
            height: 30px;
          }
          .num {
            line-height: 30px;
            position: absolute;
            top: 15px;
            left: 185px;
            display: inline-block;
            height: 30px;
          }
        }
        :hover {
          background: $list_active;
        }
      }
      .teamSummary {
        li {
          position: relative;
          padding-left: 30px;
          .teamName {
            height: 30px;
            padding: 15px 0;
            .label {
              line-height: 30px;
              display: inline-block;
              width: 100px;
              height: 30px;
            }
            .num {
              line-height: 30px;
              display: inline-block;
              height: 30px;
              margin-left: 50px;
            }
            .icon {
              position: absolute;
              top: 15px;
              left: 215px;
              display: block;
              width: 20px;
              height: 30px;
              background: url(img/triangle.png) no-repeat;
              background-position: center center;
            }
            &:hover {
              background: $list_active;
            }
          }
          .team_group {
            .team_one {
              position: relative;
              margin-left: 20px;
              padding: 15px 0;
              > img {
                width: 30px;
                border-radius: 50%;
              }
              .name {
                font-size: 14px;
                line-height: 30px;
                position: absolute;
                top: 15px;
                left: 40px;
                display: inline-block;
                width: 100px;
                height: 30px;
              }
              .num {
                line-height: 30px;
                position: absolute;
                top: 15px;
                left: 135px;
                padding-left: 0;
              }
            }
            :hover {
              background: $list_active;
            }
            >:first-child {
              padding-top: 0;
              .num {
                top: 0;
              }
              .name {
                top: 0;
              }
            }
          }
          .project {
            .team_one {
              position: relative;
              .name {
                padding-left: 0;
                background: none;
              }
              .num {
                position: absolute;
                top: 0;
                left: 200px;
                display: inline-block;
                height: 30px;
              }
            }
          }
        }
        .active {
          background: $list_active;
        }
      }
    }
  }
}