#task_detail_container {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0px;
  width: 36%;
  padding: 10px;
  background: $right_bk;
  background-position-y: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

#task_detail {
  overflow: auto;
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 0px;
  ////////// 头部区
  .head_chunk {
    height: 50px;
    line-height: 50px;
    color: #ccc;
    font-size: 14px;
    margin-left: 10px;
    span {
      margin-left: 20px;
    }
    .icon_close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
  }
  .title {
    height: 50px;
    line-height: 50px;
    background: url("img/icon_complete.png") no-repeat left center;
    padding-left: 40px;
    margin-left: 7px;
    >input {
      font-size: 24px;
      width: 100%;
      height: 50px;
      color: #666;
      border: none;
      outline: none;
    }
  }
  ///////// 内容区
  .content {
    overflow: auto;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    color: #666;
    // 列表通用属性
    >li {
      margin: 10px;
      padding-left: 40px;
      // height: 50px;
      line-height: 50px;
      background-position: left center;
      background-repeat: no-repeat;
      >.toggle_child {
        position: relative;
        cursor: pointer;
        >ul {
          display: none;
          position: absolute;
          overflow: auto;
          padding: 5px;
          left: -5px;
          height: 300px;
          width: 80%;
          border: 1px solid #2196f3;
          background: white;
          z-index: 1001;
          >li {
            line-height: 40px;
          }
        }
      }
      input {
        font-size: 14px;
        width: 100%;
        height: 50px;
        color: #666;
        border: none;
        outline: none;
      }
    }
    // 项目
    .project_container {
      background-image: url(img/icon_project.png);
      .project {
        height: 30px;
        padding: 10px 0px;
        line-height: 30px;
        .project_color {
          width: 30px;
          height: 30px;
          float: left;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
    }
    // 责任人
    .assignee_container {
      background-image: url(img/icon_assign.png);
      .assignee {
        height: 30px;
        padding: 10px 0px;
        line-height: 30px;
        >img {
          width: 30px;
          height: 30px;
          float: left;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
    }
    // 截止时间
    .deadline_container {
      background-image: url(img/icon_date.png);
      .deadline {
        // color: #999;
      }
    }
    // 优先级
    .priority_container {
      background-image: url(img/icon_priority.png);
      .priority {
        // color: #999;
      }
    }

    // 附件
    .file_container {
      background-image: url(img/icon_subtask.png);
      img {
        width: 120px;
      }
    }
    // 子任务
    .checklist_container {
      background-image: url(img/icon_subtask.png);
      background-position: left 20px;
      >ul {
        >li {
          background: url(img/icon_complete.png) no-repeat left center;
          background-size: 20px 20px;
          padding-left: 40px;
          // height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #eee;
          img {
            float: right;
            margin: 17.5px 10px;
            height: 15px;
          }
        }
        >:last-child {
          padding-left: 0;
        }
      }
    }
    // 评论
    .comments {
      background-image: url(img/icon_massage.png);
      background-position: left 15px;
      font-size: 12px;
      ul {
        >li {
          padding: 5px 0px;
          border-bottom: 1px solid #eee;
          .comment_user {
            height: 24px;
            line-height: 24px;
            color: #ccc;
            // float: left;
            img {
              width: 24px;
              height: 24px;
              float: left;
              border-radius: 50%;
            }
            .comment_name {
              float: left;
              padding-left: 5px;
            }
            .comment_createdAt {
              float: right;
              padding-left: 5px;
            }
          }
          .comment_content {
            line-height: 24px;
          }
          .add_comment {
            line-height: 35px;
            >input {
              height: 35px;
              font-size: 12px;
            }
          }
        }
        >:last-child {
          >input {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.floating_panel_close {
  flex: 0 0 auto;
  width: 36px;
  height: 51px;
  color: #464C59;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: -36px;
  background: transparent none repeat scroll 0% 0%;
  .icon_close {
    width: 30px;
    height: 47px;
    display: block;
    text-align: center;
    line-height: 47px;
    margin-left: 6px;
    font-size: 1.125rem;
    font-weight: 600;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
  }
}