$grey_color:#2e3840;
$main_bk:#f3f3f3;
$right_bk:#fff;
$blue_color:#2196f3;
$list_active:#3e484f;
$red_color:#ea2929;
*{
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑";
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
iframe{
    border: none;
}
